
.contactoContainer h4, p, h3, h3, h5{
	text-align: center;
	color: #ad8a1f;
	font-weight: 500;
}


.contactoContainer h2{
	text-align: center;
	color: var(--bs-gray-700);
	font-weight: 300;
}


.contactoContainer img{
	width: 25%;
}



.contactoContainer div{
	width: 25%;
	border: 1px solid red;
}

@media (max-width: 1000px) {
	.contactoContainer img{
		width: 50%;

	}
}


@media (max-width: 600px) {
	.contactoContainer img{
		width: 100%;

	}
}



