
.contactoContainer h4{
	text-align: center;
	color:#ad8a1f;
	font-weight: 500;
}


.contactoContainer h2{
	text-align: center;
	color: var(--bs-gray-700);
	font-weight: 300;
}


.contactoContainer img{
	width: 25%;

}

@media (max-width: 1000px) {
	.contactoContainer img{
		width: 50%;

	}
}



@media (max-width: 600px) {
	.contactoContainer img{
		width: 100%;

	}
}