body {
  background-color: rgb(168, 176, 192);
  color: rgb(44, 48, 51);
  margin: 0;padding: 0;

}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 10px;
}



.menu {
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgba(157, 183, 229, 0.438);
  width: 87.3%;
  margin-left: 5.2%;

}
 .v {
  width: 87.3%;
  margin-left: 5.2%;
  height: 35px;
  padding:  5px 10px;
  margin: 0 auto;
  background-color: rgba(33, 67, 100, .5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
} 

.menu-bar {
  width: 26px;
  cursor: pointer;
}

.uno, .dos, .tres {
  background: #ffffff;
  height: 4px;
  transition: .4s;
}

.dos {
  margin: 4px 0;
}



@media (max-width: 1000px) {
  .menu {
    flex-direction: row;
    width: 100%;
    margin-left: 0;
    transform: translate(-600%);
  }
}

@media (min-width: 1000px) {
  .v{
      display: none;
  }

}





.search {
  padding: 2px 6px 2px 2px;
  background-color: rgba(157, 183, 229, 0.438);
}



.display {
flex-direction: column;
transform: translate(0);
transition: .4s;
padding: 20px;

} 



