html{
	background-color: rgb(249, 235, 234);
   	overflow-x: hidden;
   	font-family: sans-serif;
   	padding: 0;
   	margin: 0;
   	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}
a{
	text-decoration: none;
}

#root{
	display: flex;
	justify-content: center;
}

.containerApp{
	width: 90%;
	box-sizing: border-box;
}

.borderX:nth-child(3n+1) p{
    border-bottom: 1px solid rgb(175, 187, 199);
    padding-bottom: 16px;
}
.h1-Arquidiócesis{
	font-size: 36px;
	color: #ad8a1f;
	font-style: italic;
	padding-bottom: 6px;
}

@media (max-width: 800px) {
    .h1-Arquidiócesis {
        font-size: 22px;
    }
}

.p-Bienvenidos{
	font-size: 14px;
	color: gray;
}

.hr-App{
	height: 1px;
	border: 0;
	color: #666;
	background-color: rgba(128, 128, 128, 0.142);
}