
.inicioContainer{
	margin-top: 0;
}

.buttonsContainerp{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 20px;
}



.buttonsContainerp button{
	width: 200px;
	padding: 10px 0;
	margin-bottom: 32px;
	font-size: 12px;
	letter-spacing: .4px;
	border: 1px solid rgba(111,111,111, .4);
	border-radius: 6px;
}

.d-none{
	display: none;
}

.displayX{
	display: flex;
	flex-direction: row;
	justify-content: center;
}




.displayX div{
	width: 40%;
	background-color: white;
    box-shadow: inset 0 -4px 0 0 gainsboro;
}

.displayX div img{
	width: 80%;
	margin-left: 20%;
	
}

@media (max-width: 1000px) {
	.buttonsContainerp, .buttonsContainer{
		flex-direction: column;
	}
	.buttonsContainerp>button, .buttonsContainer>button{
		width: 100%;
		margin-bottom: 26px;
	}
    .displayX{
    	flex-direction: column;
    }
    .displayX div{
    	width: 100%;
    }
    .displayX div img{
		width:100%;
		margin-left: 0;
	}
}


.displayX div:nth-child(2) *{
	margin:40px ;

}

.displayX div:nth-child(2) h2{
	font-size: 12px;
	color: #ad8a1f;
	font-weight: 500;

}
.displayX div:nth-child(2) h3{
	font-size: 18px;
	font-weight: 500;
	color: #363231;
}
.displayX div:nth-child(2) p{
	font-size: 14px;
	color: gray;
	font-weight: 500;
}

.displayX div:nth-child(2) button{
	border: none;
	padding: 10px 6px;
	font-size: 14px;
	background-color: #ad8a1f;
	font-weight: 500;
	color: white;
	border-radius: 4px;
}


.bg-dark{
	color: navy;

}


.bg-ligth{
	color: gray;
}


.titulo{
	text-align: center;
	margin-bottom: 40px;
	margin-top: 24px;
}

.titulo h4{
	font-size: 12px;
	color: #ad8a1f;
	font-weight: 500;
}

.titulo h2{
	font-size: 32px;
	color: #222222;
	font-weight: 500;
	font-family: sans;
	font-style: oblique;
}









